DailyTaskManager/DailyTaskManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.exe.config
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.vshost.exe.config
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.vshost.exe.manifest
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.Properties.Resources.resources
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.csproj.FileListAbsolute.txt
DailyTaskManager/DailyTaskManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/DailyTaskManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/DB/obj/Debug/DB.csproj.FileListAbsolute.txt
DailyTaskManager/DB/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/DB/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/DB/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DailyTaskManager/BO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/BO/bin/Debug/BO.dll.CodeAnalysisLog.xml
DailyTaskManager/BO/bin/Debug/BO.dll.lastcodeanalysissucceeded
DailyTaskManager/BO/obj/Debug/BO.csproj.FileListAbsolute.txt
DailyTaskManager/BO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/BO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DailyTaskManager/DTMServices/bin/Debug/DTMServices.dll.CodeAnalysisLog.xml
DailyTaskManager/DTMServices/bin/Debug/DTMServices.dll.lastcodeanalysissucceeded
DailyTaskManager/DTMServices/bin/Debug/EntityFramework.SqlServer.xml
DailyTaskManager/DTMServices/bin/Debug/EntityFramework.xml
DailyTaskManager/DTMServices/obj/Debug/DTMServices.csproj.FileListAbsolute.txt
DailyTaskManager/DTMServices/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/DTMServices/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/DTMServices/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DailyTaskManager/DTMWindows/bin/Debug/DTMWindows.exe.config
DailyTaskManager/DTMWindows/bin/Debug/DTMWindows.vshost.exe.config
DailyTaskManager/DTMWindows/bin/Debug/DTMWindows.vshost.exe.manifest
DailyTaskManager/DTMWindows/obj/Debug/DTMWindows.Properties.Resources.resources
DailyTaskManager/DTMWindows/obj/Debug/DTMWindows.csproj.FileListAbsolute.txt
DailyTaskManager/DTMWindows/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/DTMWindows/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/DTMWindows/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.exe.CodeAnalysisLog.xml
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.exe.lastcodeanalysissucceeded
DailyTaskManager/DailyTaskManager/bin/Debug/EntityFramework.xml
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.frmTasksList.resources
DailyTaskManager/packages/EntityFramework.6.0.0/Content/App.config.transform
DailyTaskManager/packages/EntityFramework.6.0.0/Content/Web.config.transform
DailyTaskManager/packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.xml
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.xml
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.xml
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.xml
DailyTaskManager/packages/EntityFramework.6.0.0/tools/EntityFramework.psd1
DailyTaskManager/packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
DailyTaskManager/packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
DailyTaskManager/packages/EntityFramework.6.0.0/tools/init.ps1
DailyTaskManager/packages/EntityFramework.6.0.0/tools/install.ps1
DailyTaskManager/packages/repositories.config
DailyTaskManager/BO/bin/Debug/BO.dll
DailyTaskManager/BO/bin/Debug/BO.pdb
DailyTaskManager/BO/obj/Debug/BO.csprojResolveAssemblyReference.cache
DailyTaskManager/BO/obj/Debug/BO.dll
DailyTaskManager/BO/obj/Debug/BO.pdb
DailyTaskManager/BO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DailyTaskManager/DB/bin/Debug/DB.dll
DailyTaskManager/DB/bin/Debug/DB.pdb
DailyTaskManager/DB/bin/Debug/EntityFramework.SqlServer.dll
DailyTaskManager/DB/bin/Debug/EntityFramework.dll
DailyTaskManager/DB/obj/Debug/DB.csprojResolveAssemblyReference.cache
DailyTaskManager/DB/obj/Debug/DB.dll
DailyTaskManager/DB/obj/Debug/DB.pdb
DailyTaskManager/DB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DailyTaskManager/DTMServices/bin/Debug/BO.dll
DailyTaskManager/DTMServices/bin/Debug/BO.pdb
DailyTaskManager/DTMServices/bin/Debug/DB.dll
DailyTaskManager/DTMServices/bin/Debug/DB.pdb
DailyTaskManager/DTMServices/bin/Debug/DTMServices.dll
DailyTaskManager/DTMServices/bin/Debug/DTMServices.pdb
DailyTaskManager/DTMServices/bin/Debug/EntityFramework.SqlServer.dll
DailyTaskManager/DTMServices/bin/Debug/EntityFramework.dll
DailyTaskManager/DTMServices/obj/Debug/DTMServices.csprojResolveAssemblyReference.cache
DailyTaskManager/DTMServices/obj/Debug/DTMServices.dll
DailyTaskManager/DTMServices/obj/Debug/DTMServices.pdb
DailyTaskManager/DTMServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DailyTaskManager/DailyTaskManager.v12.suo
DailyTaskManager/DailyTaskManager/bin/Debug/BO.dll
DailyTaskManager/DailyTaskManager/bin/Debug/BO.pdb
DailyTaskManager/DailyTaskManager/bin/Debug/DB.dll
DailyTaskManager/DailyTaskManager/bin/Debug/DB.pdb
DailyTaskManager/DailyTaskManager/bin/Debug/DTMServices.dll
DailyTaskManager/DailyTaskManager/bin/Debug/DTMServices.pdb
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.exe
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.pdb
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.vshost.exe
DailyTaskManager/DailyTaskManager/bin/Debug/EntityFramework.dll
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.csproj.GenerateResource.Cache
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.csprojResolveAssemblyReference.cache
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.exe
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.pdb
DailyTaskManager/DailyTaskManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.dll
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.dll
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.dll
DailyTaskManager/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.dll
DailyTaskManager/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.Utility.dll
DailyTaskManager/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.dll
DailyTaskManager/packages/EntityFramework.6.0.0/tools/migrate.exe
