DailyTaskManager/DailyTaskManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.exe.config
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.vshost.exe.config
DailyTaskManager/DailyTaskManager/bin/Debug/DailyTaskManager.vshost.exe.manifest
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.Properties.Resources.resources
DailyTaskManager/DailyTaskManager/obj/Debug/DailyTaskManager.csproj.FileListAbsolute.txt
DailyTaskManager/DailyTaskManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/DailyTaskManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/DB/obj/Debug/DB.csproj.FileListAbsolute.txt
DailyTaskManager/DB/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DailyTaskManager/DB/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DailyTaskManager/DB/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
